* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: #eaf5f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,.2);
}

.left-panel {
    width: 50%;
    background: #18244d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel img {
    width: 55%;
    max-width: 260px;
    height: auto;
}

.right-panel {
    width: 50%;
    background: #f09321;
    padding: 60px 40px;
}

.right-panel h2 {
    margin-bottom: 40px;
}

.right-panel input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
}

.right-panel button {
    width: 100%;
    padding: 12px;
    background: #18244d;
    color: white;
    border: none;
    border-radius: 10px;
}



